.ldsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ldsgrid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.ldsgrid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ffc107;
    animation: ldsgrid 1.2s linear infinite;
}

.ldsgrid div:nth-child(1) {
    top: 8px;
    left: 8px;
    background: #9c27b0;
    animation-delay: 0s;
}

.ldsgrid div:nth-child(2) {
    top: 8px;
    left: 32px;
    background:#03a9f4;
    animation-delay: -0.4s;
}

.ldsgrid div:nth-child(3) {
    top: 8px;
    left: 56px;
    background: #03a9f4;
    animation-delay: -0.8s;
}

.ldsgrid div:nth-child(4) {
    top: 32px;
    left: 8px;
    background: #03a9f4;
    animation-delay: -0.4s;
}

.ldsgrid div:nth-child(5) {
    top: 32px;
    left: 32px;
    background: #03a9f4;
    animation-delay: -0.8s;
}

.ldsgrid div:nth-child(6) {
    top: 32px;
    left: 56px;
    background: #03a9f4;
    animation-delay: -1.2s;
}

.ldsgrid div:nth-child(7) {
    top: 56px;
    left: 8px;
    background: #2196f3;
    animation-delay: -0.8s;
}

.ldsgrid div:nth-child(8) {
    top: 56px;
    left: 32px;
    background: #9c27b0;
    animation-delay: -1.2s;
}

.ldsgrid div:nth-child(9) {
    top: 56px;
    left: 56px;
    background: #f44336;
    animation-delay: -1.6s;
}

@keyframes ldsgrid {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}